<div class="row col-sm-12" >
  <mat-horizontal-stepper   labelPosition="bottom" class="col-sm-10 offset-1" [linear]="!nextFlag" #stepper>
    <mat-step [formGroup]="InformacionForm" [editable]="false" [stepControl]="InformacionForm">
      <ng-template matStepLabel>Información del candidato</ng-template>
      <div class="row col-sm-10 offset-1">
        <mat-form-field class="col-sm-10"  appearance="outline">
          <mat-label>RFC</mat-label>
          <input matInput type="text" maxlength="13"  formControlName="rfc">
        </mat-form-field>
        <div class="col-sm-2">
          <button (click)="searchByRFC()" mat-raised-button style="margin-top: 15px;" color="accent"> <mat-icon>search</mat-icon>Buscar</button>
        </div>
      </div>

      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Nombre completo</mat-label>
        <input matInput type="text"   formControlName="nombre">
      </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Nacionalidad</mat-label>
        <mat-select formControlName="nacionalidad" >
          <mat-option *ngFor="let nac of nacionalidades" [value]="nac.descripcionCatalogo">
            {{nac.descripcionCatalogo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field class="col-sm-10 offset-1" appearance="outline" >
          <mat-label>Fecha nacimiento</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="nacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput type="text"   formControlName="username">
      </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password"   formControlName="password">
      </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email"   formControlName="email">
      </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Perfil</mat-label>
        <input matInput type="text"   formControlName="perfil">
      </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Situación</mat-label>
        <input matInput type="text"   formControlName="situacion">
      </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Pretensión</mat-label>
        <input matInput type="number"   formControlName="pretencion">
      </mat-form-field>
      <mat-form-field class="col-sm-10 offset-1" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput type="text"   formControlName="direccion">
      </mat-form-field>
      <div class="col-sm-4 offset-5">
        <button mat-raised-button color="accent" (click)="guardarForm(InformacionForm,1)"><mat-icon>save</mat-icon>Guardar</button>
        <button mat-raised-button color="accent" style="margin-left: 30px" *ngIf="nextFlag" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Contactos del candidato</ng-template>
      <div class=" row col-sm-10 offset-1">
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Nombre del contacto</mat-label>
          <input matInput type="text" [(ngModel)]="newContacto.nombre">
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Tipo de contacto</mat-label>
          <mat-select [(ngModel)]="newContacto.tipoContacto" >
            <mat-option *ngFor="let type of contacts" [value]="type.id">
              {{type.descripcionCatalogo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-sm-3">
          <button style="margin-top: 20px" mat-raised-button color="accent" (click)="addContacto()"><mat-icon>add_circle</mat-icon>Agregar</button>
        </div>
      </div>
      <div *ngIf="showTable" class="row col-sm-10 offset-1">
        <table style="width: 100%" class="col-sm-12" mat-table [dataSource]="contactos" class="mat-elevation-z8">

          <ng-container matColumnDef="nombre">
            <th  mat-header-cell *matHeaderCellDef> Nombre del contacto </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo de contacto </th>
            <td mat-cell *matCellDef="let element"> {{mostrarDescripcion(1,element.tipoContacto)}} </td>
          </ng-container>


          <ng-container matColumnDef="detail1">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let element"><a (click)="removeContacto(element)" ><mat-icon>delete</mat-icon></a> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayContactos"></tr>
          <tr mat-row *matRowDef="let row; columns: displayContactos;"></tr>
        </table>
        <div style="margin-top: 30px" class="col-sm-4 offset-5">
          <button mat-raised-button color="accent" style="margin-left: 30px" *ngIf="nextFlag" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
        </div>

      </div>

    </mat-step>
    <mat-step [formGroup]="CaracteristicasForm" [editable]="false" [stepControl]="CaracteristicasForm">
      <ng-template matStepLabel>Características del candidato</ng-template>
      <h4>Generales</h4>
      <div style="margin-top: 20px" class="row col-sm-10">
        <div class="col-sm-2 ">
          <mat-label style="margin-top: 100px">Género</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10 ">
          <mat-button-toggle-group  style="margin-left: 20px" formControlName="genero" appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Indistinto">Indistinto</mat-button-toggle>
            <mat-button-toggle value="Hombre">Hombre</mat-button-toggle>
            <mat-button-toggle value="Mujer">Mujer</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div style="margin-top: 20px"   class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label style="margin-top: 20px" >Estado civil</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-button-toggle-group style="margin-left: 20px" formControlName="estadoCivil" appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Indistinto">Indistinto</mat-button-toggle>
            <mat-button-toggle value="Casado">Casado</mat-button-toggle>
            <mat-button-toggle value="Soltero">Soltero</mat-button-toggle>
            <mat-button-toggle value="Unión libre">Unión libre</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Disponibilidad para viajar</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-button-toggle-group style="margin-left: 20px" formControlName="dispoViajar" appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Indistinto">Indistinto</mat-button-toggle>
            <mat-button-toggle value="SI">SI</mat-button-toggle>
            <mat-button-toggle value="NO">NO</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Cambio de residencia</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-button-toggle-group style="margin-left: 20px" formControlName="cambioResidencia" appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Indistinto">Indistinto</mat-button-toggle>
            <mat-button-toggle value="SI">SI</mat-button-toggle>
            <mat-button-toggle value="NO">NO</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Necesidades especiales</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-button-toggle-group style="margin-left: 20px" formControlName="necesidadesEspeciales" appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Indistinto">Indistinto</mat-button-toggle>
            <mat-button-toggle value="SI">SI</mat-button-toggle>
            <mat-button-toggle value="NO">NO</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <!--<div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Edad minima</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-slider style="width: 100%;"
                      thumbLabel
                      [displayWith]="formatLabel"
                      min="1"
                      max="100" formControlName="minEdad"></mat-slider>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Edad maxima</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-slider style="width: 100%;"
                      thumbLabel
                      [displayWith]="formatLabel"
                      min="1"
                      max="100" formControlName="maxEdad"></mat-slider>
        </div>
      </div>-->
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Características adicionales</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <textarea style="width:100%" matInput formControlName="caractAdicionales"></textarea>
          </mat-form-field>
        </div>
      </div>
      <h4>Escolaridad y capacitación necesaria para el puesto</h4>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Último grado de estudios</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <mat-select formControlName="gradoEstudios">
              <mat-option *ngFor="let nivel of niveles" [value]="nivel.descripcionCatalogo">
                {{nivel.descripcionCatalogo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Institución</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <input type="text" formControlName="institucion" matInput>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Cuenta con título</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-button-toggle-group style="margin-left: 20px" formControlName="titulo" appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="true">SI</mat-button-toggle>
            <mat-button-toggle value="false">NO</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Carrera</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <input type="text" formControlName="carrera" matInput>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Especialidad</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <input type="text" formControlName="especialidad" matInput>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Certificaciones</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <input type="text" formControlName="certificaciones" matInput>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Cursos</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <input type="text" formControlName="cursos" matInput>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Oficios</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <input type="text" formControlName="oficios" matInput>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 20px"  class="row col-sm-12">
        <div class="col-sm-2">
          <mat-label>Otras competencias</mat-label>
        </div>
        <div style="margin-top: 20px" class="col-sm-10">
          <mat-form-field style="width: 100%;">
            <input type="text" formControlName="oCapacidades" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-4 offset-4">
        <button (click)="guardarForm(CaracteristicasForm, 4)" mat-raised-button color="accent" matStepperNext><mat-icon>save</mat-icon>Guardar</button>
        <button mat-raised-button color="accent" style="margin-left: 30px" *ngIf="nextFlag" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Idiomas del candidato</ng-template>
      <div class=" row col-sm-10 offset-1">
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Idioma</mat-label>
          <mat-select [(ngModel)]="newIdioma.nombre" >
            <mat-option *ngFor="let idioma of idiomas" [value]="idioma.descripcionCatalogo">
              {{idioma.descripcionCatalogo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Habilidad</mat-label>
          <mat-select [(ngModel)]="newIdioma.habilidad" >
            <mat-option *ngFor="let hab of habilidadesNivel" [value]="hab.descripcionCatalogo">
              {{hab.descripcionCatalogo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Nivel</mat-label>
          <mat-select [(ngModel)]="newIdioma.nivel" >
            <mat-option *ngFor="let type of nivelesIdiomas" [value]="type.id">
              {{type.descripcionCatalogo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-sm-3">
          <button style="margin-top: 20px" mat-raised-button color="accent" (click)="addIdioma()"><mat-icon>add_circle</mat-icon>Agregar</button>
        </div>
      </div>
      <div *ngIf="showTable" class="row col-sm-10 offset-1">
        <table style="width: 100%" class="col-sm-12" mat-table [dataSource]="idiomasCandidato" class="mat-elevation-z8">

          <ng-container matColumnDef="idioma">
            <th  mat-header-cell *matHeaderCellDef> Idioma </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef> Habilidad del idioma </th>
            <td mat-cell *matCellDef="let element"> {{element.habilidad}} </td>
          </ng-container>

          <ng-container matColumnDef="habilidad">
            <th mat-header-cell *matHeaderCellDef> Nivel del idioma </th>
            <td mat-cell *matCellDef="let element"> {{mostrarDescripcion(2,element.nivel)}} </td>
          </ng-container>

          <ng-container matColumnDef="detail1">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let element"><a (click)="removeIdioma(element)" ><mat-icon>delete</mat-icon></a> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayIdioma"></tr>
          <tr mat-row *matRowDef="let row; columns: displayIdioma;"></tr>
        </table>
        <div style="margin-top: 30px" class="col-sm-4 offset-5">
          <button mat-raised-button color="accent" style="margin-left: 30px" *ngIf="nextFlag" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
        </div>

      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Conocimientos del candidato</ng-template>
      <div class=" row col-sm-10 offset-1">
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Nombre del conocimiento</mat-label>
          <input matInput type="text" [(ngModel)]="newConocimiento.nombre">
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Descripción del conocimiento</mat-label>
          <input matInput type="text" [(ngModel)]="newConocimiento.descripcion"  >
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Nivel</mat-label>
          <mat-select [(ngModel)]="newConocimiento.nivel" >
            <mat-option *ngFor="let nivel of nivelCompetencias" [value]="nivel.id">
              {{nivel.descripcionCatalogo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-sm-3 offset-5">
          <button style="margin-top: 20px" mat-raised-button color="accent" (click)="addConocimiento()"><mat-icon>add_circle</mat-icon>Agregar</button>
        </div>
      </div>
      <div *ngIf="showTable" style="margin-top: 20px" class="row col-sm-10 offset-1">
        <table style="width: 100%" class="col-sm-12" mat-table [dataSource]="conocimientos" class="mat-elevation-z8">

          <ng-container matColumnDef="nombreCompetencia">
            <th  mat-header-cell *matHeaderCellDef> Nombre del conocimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="descripcionCompetencia">
            <th mat-header-cell *matHeaderCellDef> Descripción del conocimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>

          <ng-container matColumnDef="nivelCompetencia">
            <th mat-header-cell *matHeaderCellDef> Nivel </th>
            <td mat-cell *matCellDef="let element"> {{mostrarDescripcion(3,element.nivel)}} </td>
          </ng-container>



          <ng-container matColumnDef="detail1">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let element"><a (click)="removeConocimiento(element)" ><mat-icon>delete</mat-icon></a> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayCompetencias"></tr>
          <tr mat-row *matRowDef="let row; columns: displayCompetencias;"></tr>
        </table>
        <div style="margin-top: 30px" class="col-sm-4 offset-5">
          <button mat-raised-button color="accent" style="margin-left: 30px" *ngIf="nextFlag" matStepperNext><mat-icon>navigate_next</mat-icon>Siguiente</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Experiencia laboral</ng-template>
      <div class=" row col-sm-10 offset-1">
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Puesto</mat-label>
          <input matInput type="text" [(ngModel)]="newPuesto.puesto">
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Nivel</mat-label>
          <mat-select [(ngModel)]="newPuesto.nivel" >
            <mat-option *ngFor="let nivel of nivelCompetencias" [value]="nivel.id">
              {{nivel.descripcionCatalogo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-3 " appearance="outline" >
          <mat-label>Fecha inicio</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="newPuesto.fechaIni" >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline" >
          <mat-label>Fecha término</mat-label>
          <input matInput [matDatepicker]="picker3" [(ngModel)]="newPuesto.fechaFin">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-sm-3" appearance="outline">
          <mat-label>Antigüedad</mat-label>
          <input matInput type="number"  [(ngModel)]="newPuesto.antiguedad"  >
        </mat-form-field>
        <div class="col-sm-12 offset-5">
          <button style="margin-top: 20px" mat-raised-button color="accent" (click)="addPuesto()"><mat-icon>add_circle</mat-icon>Agregar</button>
        </div>
      </div>
      <div *ngIf="showTable" style="margin-top: 20px" class="row col-sm-10 offset-1">
        <table style="width: 100%" class="col-sm-12" mat-table [dataSource]="puestos" class="mat-elevation-z8">

          <ng-container matColumnDef="puesto">
            <th  mat-header-cell *matHeaderCellDef> Nombre del puesto </th>
            <td mat-cell *matCellDef="let element"> {{element.puesto}} </td>
          </ng-container>

          <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef> Nivel </th>
            <td mat-cell *matCellDef="let element"> {{mostrarDescripcion(3,element.nivel)}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaIni">
            <th mat-header-cell *matHeaderCellDef> Fecha inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaIni | date }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef> Fecha termino </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaFin | date}} </td>
          </ng-container>

          <ng-container matColumnDef="antiguedad">
            <th mat-header-cell *matHeaderCellDef> Antigüedad </th>
            <td mat-cell *matCellDef="let element"> {{element.antiguedad}} </td>
          </ng-container>



          <ng-container matColumnDef="detail1">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let element"><a (click)="removePuesto(element)" ><mat-icon>delete</mat-icon></a> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayPuestos"></tr>
          <tr mat-row *matRowDef="let row; columns: displayPuestos;"></tr>
        </table>
        <div style="margin-top: 30px" class="col-sm-4 offset-5">
          <button mat-raised-button color="accent" style="margin-left: 30px" *ngIf="nextFlag" (click)="goInicio()" ><mat-icon>exit_to_app</mat-icon>Terminar</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
