<mat-grid-list style="width: 100%" [cols]="checkMobileCols()" rowHeight="150px">
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1"  >
    <div class="logo-nav">
    </div>
  </mat-grid-tile>

  <mat-grid-tile style="width: 100%" [colspan]="checkMobileCols()" [rowspan]="2">
    <mat-accordion [ngStyle]="{'width':mobile == true ? '100%':'75%'}" class="example-headers-align">
      <mat-expansion-panel *ngFor= "let tema of temas" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{tema.nombre}} <mat-icon style="margin-left: 10px" color="accent">check_circle_outline</mat-icon>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description style="width: 100%">
          <table mat-table style="width: 100%" [dataSource]="dataSource" class="mat-elevation-z8">



            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->

            <!-- Name Column -->
            <ng-container matColumnDef="ENUNCIADO">
              <th mat-header-cell *matHeaderCellDef> Factores de desempeño </th>
              <td mat-cell *matCellDef="let element"> {{element.enunciado}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef>
                <a style="margin-left: 202px;" data-toggle="tooltip" data-placement="top" title="Por debajo de los resultados">BR</a>
                <a style="margin-left: 30px;" data-toggle="tooltip" data-placement="top" title="Resultados mínimos">MR</a>
                <a style="margin-left: 30px;" data-toggle="tooltip" data-placement="top" title="Resultados suficientes">R</a>
                <a style="margin-left: 30px;" data-toggle="tooltip" data-placement="top" title="Resultados superiores">RS</a>
                <a style="margin-left: 30px;" data-toggle="tooltip" data-placement="top" title="Excede en sus resultados">E</a>
              </th>
              <td mat-cell *matCellDef="let element">

                <mat-slider  [ngStyle]="{'margin-left':mobile == true ? '20px':'160px', 'width':mobile == true ? '100px':'250px'}" min="0" max="5" step="1"  (change)="updateValor(element)" tickInterval="10" thumbLabel ></mat-slider>

              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-grid-tile>
  <mat-grid-tile  style="width: 100%" [colspan]="checkMobileCols()" [rowspan]="1">
    <button mat-raised-button color="accent" (click)="FinishCuestionario()">Finalizar cuestionario</button>
  </mat-grid-tile>


</mat-grid-list>












