<mat-toolbar style="background:  black">
  <a *ngIf="mobile" style=" color:white" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </a>
  <span style="flex: 1 1 auto;"></span>

  <button mat-raised-button style="margin-right: 20px;" (click)="IrInicio()"><mat-icon >home</mat-icon>Inicio</button>
  <button mat-raised-button (click)="cerraSesion()"><mat-icon >exit_to_app</mat-icon>Cerrar sesión</button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="!mobile" [fixedInViewport]="false" [fixedTopGap]="62" [fixedBottomGap]="60" #snav>

    <mat-nav-list>
      <span *ngIf="!mobile">
        <div class="logo-nav">

        </div>
      </span>
      <span *ngIf="mobile">
        <div class="logo-nav-mobile">


        </div>
      </span>
      <div>
        <a (click)="goAvatarEditing()"><img class="avatar" src="{{avatar.url}}"></a>
      </div>

      <mat-list>
        <mat-list-item>
          <p style="margin-left: 40px">{{ 'Jose Lopez' }}</p>
        </mat-list-item>
        <mat-list-item [ngClass]="{'c-active': selectModule == module.id_submodulo}" *ngFor="let module of modules" (click)="goModule(module.id_submodulo)">
          <p>{{module.descripcion}}</p>
        </mat-list-item>

      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row">
      <div style="margin-left: 20px;margin-top: 50px" class="col-sm-12 stepper-forms">
        <app-bandeja (responseChildren)="recibirRespuestChildren($event)" *ngIf="selectModule == 1"></app-bandeja>
        <app-steppers (responseChildren)="recibirRespuestChildren($event)" *ngIf="selectModule == 2"></app-steppers>
        <app-data-period (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 3"></app-data-period>
        <app-asignar-consultor *ngIf="selectModule == 4"></app-asignar-consultor>
        <app-head-count (responseHead)="recibirRespuestChildren($event)" *ngIf="selectModule == 6"></app-head-count>
        <app-organigrama (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 7"> </app-organigrama>
        <app-cuestionario-select (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 5"></app-cuestionario-select>
        <app-detalle-preguntas *ngIf="selectModule == 8"></app-detalle-preguntas>
        <app-estadisticas (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 9"></app-estadisticas>
        <app-bandeja-detalle (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 10"></app-bandeja-detalle>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
