<mat-toolbar style="background:  black">
  <a *ngIf="mobile" style=" color:white" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </a>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button style="margin-right: 20px;" (click)="IrInicio()"><mat-icon >home</mat-icon>Inicio</button>
  <button mat-raised-button (click)="cerraSesion()">
    <mat-icon>people_outline</mat-icon>Cerrar sesión
  </button>

</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="!mobile" [fixedInViewport]="false" [fixedTopGap]="62" [fixedBottomGap]="60" #snav>
    <mat-nav-list>
      <span *ngIf="!mobile">
        <div class="logo-nav">

        </div>
      </span>
      <span *ngIf="mobile">
        <div class="logo-nav-mobile">


        </div>
      </span>
      <div>
        <a (click)="goAvatarEditing()"><img class="avatar" src="{{avatar.url}}"></a>
      </div>
      <mat-list style="max-width: 200px;">
        <mat-list-item>
          <p>{{ user['fullName'] }}</p>
        </mat-list-item>
        <mat-list-item *ngFor="let module of modules" [ngClass]="{'c-active': selectedItem == module.id_submodulo}" (click)="goModule(module.id_submodulo)">
          <p>{{module.descripcion}}</p>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="">
      <div style="padding: 10px 30px 0 30px;" class="col-sm-12 stepper-forms">
        <div *ngIf="selectModule == 1">
          <h3>Bandeja de proyectos</h3>
          <app-bandeja-pvc (responseChildren)="recibirRespuestChildren($event)"></app-bandeja-pvc>
        </div>
        <div *ngIf="selectModule == 2">
          <h3>Alta de proyecto</h3>
          <app-steppers-pvc (responseChildren)="recibirRespuestChildren($event)"></app-steppers-pvc>
        </div>
        <div *ngIf="selectModule == 3">
          <h3>Periodo de garantía</h3>
          <app-periodo-pvc (responseHead)="recibirRespuestChildren($event)"></app-periodo-pvc>
        </div>
        <div *ngIf="selectModule == 4">

          <app-asignar-consultor-pvc (responseHead)="recibirRespuestChildren($event)"></app-asignar-consultor-pvc>
        </div>
        <div *ngIf="selectModule == 11">

          <app-selector-areas (response)="recibirRespuestChildren($event)"></app-selector-areas>
        </div>
        <div *ngIf="selectModule == 12">

          <app-selecto-esferas (response)="recibirRespuestChildren($event)"></app-selecto-esferas>
        </div>
        <div *ngIf="selectModule == 13">

          <app-selector-nivel (response)="recibirRespuestChildren($event)"></app-selector-nivel>
        </div>
        <div *ngIf="selectModule == 14">

          <app-selector-especialidades (response)="recibirRespuestChildren($event)"></app-selector-especialidades>
        </div>
        <div *ngIf="selectModule == 15">

          <app-selector-conocimiento-tecnicos [type]="1"  (response)="recibirRespuestChildren($event)"></app-selector-conocimiento-tecnicos>
        </div>
        <div *ngIf="selectModule == 16">

          <app-selector-conocimiento-tecnicos [type]="2" (response)="recibirRespuestChildren($event)"></app-selector-conocimiento-tecnicos>
        </div>
        <div *ngIf="selectModule == 17">

          <app-head-count-pvc (response)="recibirRespuestChildren($event)"></app-head-count-pvc>
        </div>
        <div *ngIf="selectModule == 18">

          <app-detalle-preguntas-pvc (response)="recibirRespuestChildren($event)"></app-detalle-preguntas-pvc>

        </div>
        <div *ngIf="selectModule == 19">

          <app-generador-reportes></app-generador-reportes>

        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
