<form [formGroup]="contactForm">
  <mat-grid-list  [cols]="checkMobileCols()" rowHeight="100px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Tipo de contacto</mat-label>
        <mat-select formControlName="tipoContacto">
          <mat-option *ngFor="let tipo of tipoContacto" [value]="tipo.id">
            {{tipo.descripcionCatalogo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm"  appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Celular</mat-label>
        <input type="tel" formControlName="celular" matInput >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input type="tel" formControlName="telefono" matInput >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Beneficiario</mat-label>
        <input matInput type="text" formControlName="beneficiario">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!mobile">

    </mat-grid-tile>
    <mat-grid-tile *ngIf="!mobile">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button matStepperPrevious>Cancelar <mat-icon>cancel</mat-icon></button>
      <button mat-raised-button color="primary" style="margin-left: 10px" (click)="saveContact()" [disabled]="!contactForm.valid" matStepperNext>Siguiente <mat-icon>arrow_forward</mat-icon></button>

    </mat-grid-tile>

  </mat-grid-list>
</form>

