<mat-horizontal-stepper labelPosition="bottom"  [hidden]="mobile" [linear]="false" #stepper>
  <mat-step >
    <ng-template  matStepLabel >
      <p class="bold">Paso 1 </p><p>Datos Empresa</p>
    </ng-template>
    <app-data-company  ></app-data-company>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <p class="bold">Paso 2   </p> <p>Datos Contacto</p>
    </ng-template>
    <app-data-contact></app-data-contact>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <p class="bold">Paso 3  </p> <p>Datos Proyecto</p>
    </ng-template>
    <app-data-proyect  (response)="getResponseChildren($event)"></app-data-proyect>
  </mat-step>
</mat-horizontal-stepper>
<mat-vertical-stepper  [hidden]="!mobile" [linear]="false" #stepper2>
  <mat-step >
    <ng-template matStepLabel> Datos de la Empresa</ng-template>
    <app-data-company></app-data-company>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Datos Contacto</ng-template>
    <app-data-contact></app-data-contact>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos Proyecto</ng-template>
    <app-data-proyect (response)="getResponseChildren($event)"></app-data-proyect>
  </mat-step>
</mat-vertical-stepper>
