<mat-horizontal-stepper labelPosition="bottom"  [hidden]="mobile" [linear]="false" #stepper>
  <mat-step >
    <ng-template  matStepLabel >
      <p class="bold">Paso 1 </p><p>Datos Empresa</p>
    </ng-template>
    <app-enterprise-apo></app-enterprise-apo>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <p class="bold">Paso 2   </p> <p>Datos Proyecto</p>
    </ng-template>
    <app-proyect-apo></app-proyect-apo>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <p class="bold">Paso 3  </p> <p>Datos Contacto</p>
    </ng-template>
    <app-contact-apo (response)="getResponseChildren($event)"></app-contact-apo>
  </mat-step>

</mat-horizontal-stepper>
<mat-vertical-stepper  [hidden]="!mobile" [linear]="false" #stepper2>
  <mat-step >
    <ng-template matStepLabel> Datos de la Empresa</ng-template>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Datos Contacto</ng-template>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos Proyecto</ng-template>

  </mat-step>
</mat-vertical-stepper>
