<form [formGroup]="proyectForm">
  <mat-grid-list [cols]="checkMobileCols()" rowHeight="100px">


    <mat-grid-tile [colspan]="1" [rowspan]="1">

      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="proyecto" type="text" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Número de empleados</mat-label>
        <input matInput type="number" formControlName="numEmpleados" type="text" required>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Numero de participantes</mat-label>
        <input matInput type="number"  formControlName="numParticipantes" type="number">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Sedes</mat-label>
        <input matInput formControlName="sede" type="text">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Frecuencia evaluación</mat-label>
        <mat-select formControlName="frecuenciaEval" >
          <mat-option *ngFor="let time of periods" [value]="time.id">
            {{time.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!mobile">

    </mat-grid-tile>
    <mat-grid-tile *ngIf="!mobile">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button matStepperPrevious>Cancelar
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="guardarProyecto()" [disabled]="!proyectForm.valid" matStepperNext>Siguiente
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-grid-tile>

  </mat-grid-list>


</form>
