<div class="row col-sm-12">
  <table *ngIf="showTable" mat-table [dataSource]="dataSource" class="col-sm-12 mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>


    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef> Empresa </th>
      <td mat-cell *matCellDef="let element"> {{element['idEmpresa']['empresa']}} </td>
    </ng-container>


    <ng-container matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef> Estatus </th>
      <td mat-cell *matCellDef="let element"> {{element['idEstatus']['descripcion']}} </td>
    </ng-container>

    <ng-container matColumnDef="modulo">
      <th mat-header-cell *matHeaderCellDef> Módulo </th>
      <td mat-cell *matCellDef="let element"> {{showModulos(element.idModulo)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
