<mat-grid-list [cols]="checkMobileCols()" rowHeight="100px">
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <h2  class="mat-h2 mat-title" ><mat-icon style="margin-top: 1px">people_outline</mat-icon> Asignar consultor</h2>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-form-field  style="width: 96%; " appearance="outline">
      <mat-label>Seleccionar una vacante</mat-label>
      <mat-select [(ngModel)]="proyect">
        <mat-option *ngFor="let proyect of proyects" [value]="proyect">
          {{proyect.nombreVacante}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-form-field  style="width: 96%; " appearance="outline">
      <mat-label>Selecciona al consultor</mat-label>
      <mat-select [(ngModel)]="consultor">
        <mat-option *ngFor="let consultor of consultores" [value]="consultor">
          {{consultor.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
      <button mat-raised-button color="primary" (click)="saveConsultor()">Guarda consultor</button>
  </mat-grid-tile>



  
