
<mat-toolbar style="background:  black" >
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>
<div class="logo-nav">
</div>

<div class="col-sm-10" >
  <img class="avatar" [src]="urlMensagge" alt="">
</div>

<div style="width: 100%; " class="row col-sm-12" >
  <div style="width: 100%; margin-top: 30px" class="col-sm-12" *ngIf="goPreguntas">
    <mat-accordion *ngFor= "let cuestParticipante of preguntas;" [ngStyle]="{'width':mobile == true ? '100%':'75%'}" class="example-headers-align">
      <mat-expansion-panel *ngFor="let question of cuestParticipante['cuestionarioParticipantes']" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>tab</mat-icon>{{question['cuestionarioParticipante']['tema']['nombre']}}
          </mat-panel-title>
          <mat-panel-description>
            {{question['participante']['nombres']}} {{question['participante']['aPaterno']}} {{question['participante']['puesto']}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-panel-description class="col-sm-12 row" style="width: 100%">
          <mat-list class="col-sm-12">
            <mat-list-item style="margin-bottom: 10px">{{question['cuestionarioParticipante']['pregunta']['enunciado']}}</mat-list-item>
            <mat-selection-list (selectionChange)="handleSelection($event)"  >
              <mat-list-option  *ngFor="let opt of question['opciones']; let i = index;"  [value]="question['cuestionarioParticipante']['respuesta']"  (click)="setRespuesta(question['cuestionarioParticipantes'][0],i)">
                {{opt.tipo}}  {{opt.enunciado}}
              </mat-list-option>
            </mat-selection-list>
          </mat-list>

          <!--<table style="width: 100%"  mat-table [dataSource]="question['cuestionarioParticipantes']" class="mat-elevation-z8 col-sm-12">


            <ng-container matColumnDef="Participante">
              <th mat-header-cell *matHeaderCellDef style="font-size: 10px; margin-right: 10px;"> Opciones </th>
              <td mat-cell *matCellDef="let element">{{opciones[i][i]['enunciado']}}  </td>

            </ng-container>



            <ng-container matColumnDef="BR">
              <th mat-header-cell *matHeaderCellDef="let element" style="font-size: 10px; margin-right: 10px;"> {{opciones[i][0]['enunciado']}} </th>
              <td mat-cell *matCellDef="let element"><mat-radio-button  value="1"></mat-radio-button>  </td>
            </ng-container>


            <ng-container matColumnDef="MR">
              <th mat-header-cell *matHeaderCellDef="let element"> {{opciones[i][1]['enunciado']}} </th>
              <td mat-cell *matCellDef="let element"> <mat-radio-button value="1"></mat-radio-button> </td>
            </ng-container>

            ¡
            <ng-container matColumnDef="R">
              <th mat-header-cell *matHeaderCellDef="let element"> {{opciones[i][2]['enunciado']}} </th>
              <td mat-cell *matCellDef="let element"> <mat-radio-button value="1"></mat-radio-button> </td>
            </ng-container>

            <ng-container matColumnDef="RS">
              <th mat-header-cell *matHeaderCellDef="let element"> {{opciones[i][3]['enunciado']}} </th>
              <td mat-cell *matCellDef="let element"> <mat-radio-button value="1"></mat-radio-button> </td>
            </ng-container>

            <ng-container matColumnDef="E">
              <th mat-header-cell *matHeaderCellDef="let element"> {{opciones[i][4]['enunciado']}} </th>
              <td mat-cell *matCellDef="let element"> <mat-radio-button value="1"> </mat-radio-button> </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>-->


        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
  <mat-grid-list style="width: 100%" [cols]="checkMobileCols()" rowHeight="100px">

    <mat-grid-tile   style="width: 100%" [colspan]="checkMobileCols()" [rowspan]="1">
      <button mat-raised-button color="accent" (click)="FinishCuestionario()">Finalizar cuestionario</button>
    </mat-grid-tile>


  </mat-grid-list>













