<form [formGroup]="companyForm">
  <mat-grid-list  [cols]="checkMobileCols()" rowHeight="100px">


    <mat-grid-tile [colspan]="1" [rowspan]="1">
     <button mat-button>Agregar</button>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Nivel de escolaridad</mat-label>
        <mat-select formControlName="pais" required >
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.descripcionCatalogo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field  class="inputForm" appearance="outline">
        <mat-label>Especialidad</mat-label>
        <input formControlName="rfc" type="text" matInput required >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="1" [rowspan]="1">

      <mat-form-field class="inputForm" appearance="outline">
        <mat-label>Otras capacidades</mat-label>
        <textarea matInput formControlName="empresa" type="text" required></textarea>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-checkbox>Check me!</mat-checkbox>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!mobile">

    </mat-grid-tile>
    <mat-grid-tile *ngIf="!mobile">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button (click)="cancelCompany()" matStepperPrevious>Cancelar <mat-icon>cancel</mat-icon></button>
      <button mat-raised-button color="primary" style="margin-left: 10px"  matStepperNext>Siguiente <mat-icon>arrow_forward</mat-icon></button>

    </mat-grid-tile>

  </mat-grid-list>


</form>

