<mat-grid-list  [cols]="checkMobileCols()" rowHeight="100px">
  <mat-grid-tile [colspan]="checkMobileCols()">

    <h2  class="mat-h2 mat-title" ><mat-icon style="margin-top: 1px">work_outline</mat-icon> Datos proyecto</h2>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="proyect.nombre" type="text">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Numero de empleados</mat-label>
      <input matInput [(ngModel)]="proyect.numEmpleados" type="number">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Numero de participantes</mat-label>
      <input matInput [(ngModel)]="proyect.numParticipantes" type="number">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Sedes</mat-label>
      <input [(ngModel)]="proyect.sedes" matInput type="text">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Frecuencia evaluación</mat-label>
      <mat-select [(ngModel)]="proyect.frecuenciaEval" >
        <mat-option *ngFor="let time of periods" [value]="time.id">
          {{time.descripcionCatalogo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!mobile">

  </mat-grid-tile>
  <mat-grid-tile *ngIf="!mobile">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button mat-raised-button matStepperPrevious>Cancelar <mat-icon>cancel</mat-icon></button>
    <button mat-raised-button color="primary" style="margin-left: 10px" (click)="saveCompany()">Siguiente <mat-icon>arrow_forward</mat-icon></button>

  </mat-grid-tile>


</mat-grid-list>
