<mat-grid-list [cols]="checkMobileCols()" rowHeight="100px">
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <h2  class="mat-h2 mat-title" ><mat-icon style="margin-top: 1px">library_books</mat-icon> Configuración de competencias</h2>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-form-field  style="width: 40%; margin-right: 10px" appearance="outline">
      <mat-label>Seleccionar proyecto</mat-label>
      <mat-select [(ngModel)]="proyect">
        <mat-option *ngFor="let proyect of proyects"  [value]="proyect">
          {{proyect.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <button  mat-raised-button  [disabled]="!proyect.idProyecto" (click)="getTemas()"> Ver competencias</button>
    <button  mat-raised-button color ="accent" [disabled]="!save" style="color: whitesmoke; margin-left: 10px"  (click)="saveTemas()" matStepperNext> Guardar competencias</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-spinner  color="accent" mode="indeterminate" *ngIf="load"></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<mat-accordion style="margin-top: 5px; width: 100%" *ngIf="showTemas">


  <mat-list >
    <mat-list-item *ngFor="let tema of temas">
      <input *ngIf="tema.nombre === ''"  matInput type="text" placeholder="Nuevo tema" [(ngModel)]="newTema['nombre']">
      <input  matInput type="text" *ngIf="tema.nombre == ''" placeholder="Descripción" [(ngModel)]= "newTema['descripcion']"><a *ngIf="tema.nombre === ''"  (click)="addTema()"><mat-icon >add_circle_outline</mat-icon ></a>
      <mat-icon *ngIf="tema.nombre !== ''" >book</mat-icon ><mat-checkbox *ngIf="tema.nombre !== ''"  [(ngModel)] = "tema.isSelect">{{tema.nombre}}</mat-checkbox>
    </mat-list-item>
  </mat-list>


</mat-accordion>
