<div class="row col-sm-12">


 <!-- <mat-accordion>
    <mat-expresion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{participante.nombre}}
        </mat-panel-title>
        <mat-panel-description>
            Puesto actual :  {{participante.puestoActualTecnico.puesto}}
        </mat-panel-description>
      </mat-expansion-panel-header>
       Area: {{participante.puestoActualTecnico.area}}
       Esfera: {{participante.puestoActualTecnico.esfera}}
       Nivel: {{participante.puestoActualTecnico.nivel}}
       Especialidad: {{participante.puestoActualTecnico.especialidad}}
       <mat-list>
         <mat-list-item *ngFor="let coc of participante.puestoActualTecnico.conocimientos">
           {{coc}}
         </mat-list-item>
       </mat-list>
    </mat-expresion-panel>
  </mat-accordion>-->

</div>
