
<form [formGroup]="contactForm"  >
<mat-grid-list  [cols]="checkMobileCols()" rowHeight="100px">
  <mat-grid-tile [colspan]="checkMobileCols()">
    <h2  class="mat-h2 mat-title" ><mat-icon style="margin-top: 1px">people_outline</mat-icon> Datos contacto</h2>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" type="text">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Puesto</mat-label>
      <mat-select formControlName="puesto">
        <mat-option *ngFor="let puesto of puestos " [value]="puesto.descripcionCatalogo">
          {{puesto.descripcionCatalogo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Tipo de contacto</mat-label>
      <mat-select formControlName="tipoContacto">
        <mat-option *ngFor="let type of typeContact" [value]="type.id">
          {{type.descripcionCatalogo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm"  appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput >
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Celular</mat-label>
      <input type="tel" formControlName="celular" matInput >
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-form-field class="inputForm" appearance="outline">
      <mat-label>Telefono</mat-label>
      <input type="tel" formControlName="telefono" matInput >
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!mobile">

  </mat-grid-tile>
  <mat-grid-tile *ngIf="!mobile">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button mat-raised-button matStepperPrevious>Cancelar <mat-icon>cancel</mat-icon></button>
    <button mat-raised-button color="primary" style="margin-left: 10px" (click)="saveContact()" [disabled]="!contactForm.valid" matStepperNext>Siguiente <mat-icon>arrow_forward</mat-icon></button>

  </mat-grid-tile>

</mat-grid-list>
</form>
