<mat-grid-list [cols]="checkMobileCols()" rowHeight="100px">
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <h2  class="mat-h2 mat-title" ><mat-icon style="margin-top: 1px">library_books</mat-icon> Configuración cuestionario</h2>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-form-field  style="width: 40%; margin-right: 10px" appearance="outline">
      <mat-label>Seleccionar proyecto</mat-label>
      <mat-select [(ngModel)]="proyect" >
        <mat-option *ngFor="let proyect of proyects"  [value]="proyect">
          {{proyect.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <button  mat-raised-button  [disabled]="!proyect.idProyecto" (click)="showPreguntas()"> Ver preguntas</button>
    <button  mat-raised-button color ="accent" [disabled]="!save" style="color: whitesmoke; margin-left: 10px"  (click)="savePreguntas()"> Guardar preguntas</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-spinner  color="accent" mode="indeterminate" *ngIf="load"></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<mat-accordion style="margin-top: 5px; width: 100%" *ngIf="showPreguntas">


  <mat-expansion-panel *ngFor="let tema of temas ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>book</mat-icon> {{tema.tema.nombre}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <mat-checkbox>&nbsp;&nbsp;<input role="listitem" matInput [value]='tema.tema.descripcion'></mat-checkbox>
    </mat-panel-description>



  </mat-expansion-panel>

  <mat-form-field class="inputForm" appearance="outline">
    <mat-label>Nombre de la competencia</mat-label>
    <input matInput type="text" required [(ngModel)]="tema">
  </mat-form-field>

  <mat-form-field class="inputForm" appearance="outline" style="margin-left: 20px;">
    <mat-label>Descripción de competencia</mat-label>
    <input matInput type="text" required [(ngModel)]="descripcion">
  </mat-form-field>

  <button mat-raised-button style="margin-left: 10px; background-color: #A1B712; color: #fff;"
          (click)="addCompetencia()" [disabled]="!proyect.idProyecto">Agregar
    <mat-icon>save</mat-icon>
  </button>

</mat-accordion>




