.example-card {
  max-width: 400px;
  width: 400px;
  height: 500px;
}
.logo{
  width: 240px;
  height: 100px;
}
.back{
  height: 100%;
  width: 100%;
  


}

.example-header-image {
  background-size: cover;
}
