.logo-nav{
  width: 245px;
  height: 80px;
  margin-top: 20px;
  margin-left: 15px;
  background-image: url("../../../../../logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}


example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.triste {
  background-image: url("../../../../../sad.png");
}
