<mat-grid-list [cols]="checkMobileCols()" rowHeight="100px">
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <h2  class="mat-h2 mat-title" ><mat-icon style="margin-top: 1px">work_outline</mat-icon> Cargar Head Count Ampliado</h2>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-form-field  style="width: 96%; " appearance="outline">
      <mat-label>Seleccionar proyecto</mat-label>
      <mat-select [(ngModel)]="filters.idProyecto">
        <mat-option *ngFor="let proyect of proyects" [value]="proyect.idProyecto">
          {{proyect.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile  [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-label>Head Count Ampliado </mat-label>
    <input id ="upload"  (change) ="readFile($event)" style="margin-left: 10px" type="file" accept=".xlsx" >
  </mat-grid-tile>
  <mat-grid-tile  [colspan]="checkMobileCols()" [rowspan]="1">
    <button mat-raised-button color="default" style="margin-right: 25px" (click)="uploadHeadCount()">Leer archivo</button>
    <button mat-raised-button color="primary" (click)="guardaHead()">Guardar archivo</button>

  </mat-grid-tile>
</mat-grid-list>

<mat-table *ngIf="showTable" class=" mat-elevation-z8"  [dataSource]="dataSource">

  <!-- Position Column -->


  <ng-container  matColumnDef="OBJETIVO PUESTO">
    <th mat-header-cell style="padding-right: 50px !important;" *matHeaderCellDef> OBJETIVO PUESTO       </th>
    <td mat-cell style="padding-right: 50px !important;" *matCellDef="let element"> {{element.objetivoPuesto}} </td>
  </ng-container>


  <ng-container  matColumnDef="FUNCIONES">
    <th mat-header-cell style="padding-right: 50px !important;" *matHeaderCellDef>FUNCIONES </th>
    <td mat-cell   style="padding-right: 50px !important;"*matCellDef="let element"> {{element.funciones}}       </td>
  </ng-container>

  <ng-container matColumnDef="NOMBRE DE META">
    <th style="padding-right: 50px !important;" mat-header-cell *matHeaderCellDef> NOMBRE DE META </th>
    <td style="padding-right: 50px !important;" mat-cell *matCellDef="let element"> {{element.metaKpi}} </td>
  </ng-container>
  <ng-container matColumnDef="CANTIDAD META">
    <th style="padding-right: 50px !important;" mat-header-cell *matHeaderCellDef> CANTIDAD META </th>
    <td  style="padding-right: 50px !important;" mat-cell *matCellDef="let element"> {{element.cantidadMeta}} </td>
  </ng-container>

  <ng-container matColumnDef="UNIDAD MEDIDA">
    <th  style="padding-right: 50px !important;" mat-header-cell *matHeaderCellDef> UNIDAD MEDIDA </th>
    <td  style="padding-right: 50px !important;" mat-cell *matCellDef="let element"> {{element.unidadMedida}} </td>
  </ng-container>
  <ng-container matColumnDef="TIEMPO">
    <th style="padding-right: 50px !important;" mat-header-cell *matHeaderCellDef> TIEMPO </th>
    <td style="padding-right: 50px !important;"  mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
  </ng-container>
  <ng-container matColumnDef="F.E.V.">
     <th style="padding-right: 50px !important;" mat-header-cell *matHeaderCellDef> F.E.V. </th>
     <td style="padding-right: 50px !important;" mat-cell *matCellDef="let element"> {{element.frecuenciaEval}} </td>
   </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>



