


<mat-toolbar style="background:  black" >
  <a *ngIf="mobile" style=" color:white" (click)="snav.toggle()"><mat-icon >menu</mat-icon></a>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button style="margin-right: 20px;" (click)="IrInicio()"><mat-icon >home</mat-icon>Inicio</button>
  <button mat-raised-button (click)="cerraSesion()"><mat-icon >people_outline</mat-icon>Cerrar sesión</button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="!mobile" [fixedInViewport]="false" [fixedTopGap]="62" [fixedBottomGap]="60"  #snav>

    <mat-nav-list>
           <span *ngIf="!mobile">
            <div class="logo-nav">

            </div>
          </span>
      <span *ngIf="mobile">
            <div class="logo-nav-mobile">

            </div>
          </span>
      <div style="text-align:center;">
        <div class="avatar">

          <!--<a (click)="goAvatarEditing()"><img class="avatar" src="{{avatar.url}}"></a>-->

        </div>
      </div>

      <mat-list style="max-width: 200px;">
        <mat-list-item>
          <p style="margin-left: 10px">{{ user.fullName }}</p>
        </mat-list-item>
        <mat-list-item *ngFor="let module of modules" [ngClass]="{'c-active': selectModule == module.id_submodulo}" (click)="goModule(module.id_submodulo)">
          <p>{{module.descripcion}}</p>
        </mat-list-item>

      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>

      <div style="padding: 10px 30px 0 30px;"  class="col-sm-12 stepper-forms" >

        <div *ngIf="selectModule == 1">
          <h3>Bandeja de proyectos</h3>
          <app-bandeja-lista-apo (responseHead)="recibirRespuestChildren($event)"></app-bandeja-lista-apo>
        </div>
        <div *ngIf="selectModule == 2">
          <h3>Alta de proyectos</h3>
          <app-stepper-apo (response)="recibirRespuestChildren($event)"></app-stepper-apo>
        </div>
        <div *ngIf="selectModule == 3">
          <h3>Head Count</h3>
          <app-head-count-apo (responseHead)="recibirRespuestChildren($event)"></app-head-count-apo>
        </div>
        <div *ngIf="selectModule == 4">
          <h3>Head Count Ampliado</h3>
          <app-haed-count2-apo (responseHead)="recibirRespuestChildren($event)"></app-haed-count2-apo>
        </div>
        <div *ngIf="selectModule == 6">
          <h3>Periodo de garantía</h3>
          <app-periodo-apo (responseHead)="recibirRespuestChildren($event)"></app-periodo-apo>
        </div>
        <div *ngIf="selectModule == 8">
          <h3>Ver estado de proyecto</h3>
          <app-poll-status-apo (responseHead)="recibirRespuestChildren($event)"></app-poll-status-apo>
        </div>
        <div *ngIf="selectModule == 5">

          <app-participantes-selector></app-participantes-selector>
        </div>
        <div *ngIf="selectModule == 7">
          <app-organigrama-apo></app-organigrama-apo>
          <!--<app-asignar-consultor-apo (responseHead)="recibirRespuestChildren($event)"></app-asignar-consultor-apo>-->
        </div>
        <!--<div *ngIf="selectModule == 6">
          <h3>Ver Cuestionario</h3>
          <app-cuestionario-evd (responseChildren)="recibirRespuestChildren($event)"></app-cuestionario-evd>
        </div>
        <div *ngIf="selectModule == 7">
          <h3>Estado del cuestionario</h3>
          <app-encuesta-evd (responseChildren)="recibirRespuestChildren($event)"></app-encuesta-evd>
        </div>-->

      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

