.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 100%;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.avatar{
  width: 200px;
  margin-top: 10px;
  height: 200px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-image: url("../../../../../avatar.png");
  background-size: cover;
}


.logo-nav{
  width: 165px;
  height: 52px;
  margin-left: 15px;
  background-image: url("../../../../../logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-nav-mobile{
  height: 100px;
  width: 180px;
  background-image: url("../../../../../logo_m.png");
  background-repeat: no-repeat;
}





.form-company {
  display: flex;
  flex-direction: column;
}

.form-company > * {
  width: 100%;
}

stepper-forms{

  margin-top: 300px;

}

/deep/ .mat-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-option .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-option .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-option .mat-list-item-content {
  padding: 15px 15px 0 15px !important;
}


.mat-nav-list .mat-list-item {
  height: auto;
}

.mat-nav-list .mat-list-item.c-active {
  background: #a2ba00;
  color: white;
}


