<mat-grid-list [cols]="checkMobileCols()" rowHeight="100px">
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <h2  class="mat-h2 mat-title" ><mat-icon style="margin-top: 1px">library_books</mat-icon> Configuración de respuestas</h2>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-form-field  style="width: 40%; margin-right: 10px" appearance="outline">
      <mat-label>Seleccionar proyecto</mat-label>
      <mat-select (selectionChange)="getAnswerByTheme()"  [(ngModel)]="proyect" >
        <mat-option *ngFor="let proyect of proyects"  [value]="proyect">
          {{proyect.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-form-field  style="width: 40%; margin-right: 10px" appearance="outline">
      <mat-label>Seleccionar tema</mat-label>
      <mat-select [(ngModel)]="tema" >
        <mat-option *ngFor="let tema of temas"  [value]="tema">
          {{tema.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <button  mat-raised-button  [disabled]="!proyect.idProyecto" (click)="showAnswer()"> Ver respuestas</button>
    <button  mat-raised-button color ="accent" [disabled]="countList()" style="color: whitesmoke; margin-left: 10px"  (click)="saveAnswer()"> Guardar respuestas</button>
    <button  mat-raised-button color ="accent" *ngIf="showSendQuewstion()" style="color: whitesmoke; margin-left: 10px"  (click)="sendQuestion()"> Enviar cuestionarios</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
    <mat-spinner  color="accent" mode="indeterminate" *ngIf="load"></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<mat-accordion style="margin-top: 5px; width: 100%" *ngIf="showOptions">


  <mat-list >
    <mat-list-item style="margin-top: 10px" *ngFor="let tema of answers">
      <input *ngIf="tema.enunciado === ''"  matInput type="text" placeholder="Nueva respuesta" [(ngModel)]="newTema['enunciado']"> <mat-select *ngIf="tema.enunciado === ''" [(ngModel)]="newTema['tipo']" >
      <mat-option    *ngFor="let tema of opts"  [value]="tema">
        {{tema}}
      </mat-option>
    </mat-select><a *ngIf="tema.enunciado === ''"  (click)="addAnswer()"><mat-icon >add_circle_outline</mat-icon ></a>
      <mat-icon *ngIf="tema.enunciado !== ''" >question_answer</mat-icon ><mat-checkbox (change)="countList()"  *ngIf="tema.enunciado !== ''"  [(ngModel)] = "tema.isSelect"><p style="font-size: 13px; margin-top: 12px" ><strong style="margin-right: 5px">{{tema.tipo}}</strong>   {{tema.enunciado}}</p> </mat-checkbox>
    </mat-list-item>
  </mat-list>


</mat-accordion>




