

  <mat-grid-list style="width: 100%" [cols]="checkMobileCols()" rowHeight="150px">

    <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1"  >
            <h4>Contestar cuestionario</h4>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
      <mat-form-field  style="width: 40%; margin-right: 10px" appearance="outline">
        <mat-label>Seleccionar empresa</mat-label>
        <mat-select [(ngModel)]="entrepise.id"   >
          <mat-option *ngFor="let entrepise of companys"   [value]="entrepise.id">
            {{entrepise.empresa}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="1">
      <button mat-raised-button color="accent" (click)="getPreguntasEmpresa()">Ver preguntas</button>
      <button mat-raised-button color="accent" style="margin-left: 20px" (click)="FinishCuestionario()">Finalizar cuestionario</button>
    </mat-grid-tile>
  </mat-grid-list>
    <!--<mat-grid-tile [colspan]="checkMobileCols()" [rowspan]="2" >
      <mat-accordion  class="example-headers-align">
        <mat-expansion-panel *ngFor= "let tema of temas" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{tema.nombre}} <mat-icon style="margin-left: 10px" color="accent">check_circle_outline</mat-icon>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-panel-description>
            <mat-list >
              <h3 mat-subheader>Preguntas</h3>
              <mat-list-item role="listitem"  >




              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item role="listitem" class="example-headers-align" mat-line>¿Que vale mexico?
                <mat-radio-group>
                  <mat-radio-button style="margin-left: 10px">2</mat-radio-button>
                  <mat-radio-button style="margin-left: 10px">1</mat-radio-button>
                  <mat-radio-button style="margin-left: 10px">3</mat-radio-button>
                  <mat-radio-button style="margin-left: 10px">4</mat-radio-button>
                  <mat-radio-button style="margin-left: 10px">5</mat-radio-button>

                </mat-radio-group></mat-list-item>
              <mat-list-item role="listitem">Item 2</mat-list-item>
              <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>



          </mat-panel-description>


        </mat-expansion-panel>


      </mat-accordion>
    </mat-grid-tile>-->

  <mat-grid-list style="margin-bottom: 100px;width: 100%" [cols]="checkMobileCols()" rowHeight="700px">

  <mat-grid-tile *ngIf="!goQuestion" style="width: 100%" [colspan]="checkMobileCols()" [rowspan]="2">
    <mat-accordion [ngStyle]="{'width':mobile == true ? '100%':'75%'}" class="example-headers-align">
      <mat-expansion-panel *ngFor= "let tema of temas; let i = index" [expanded]="i == 0" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{tema.nombre}} <mat-icon style="margin-left: 10px" color="accent">check_circle_outline</mat-icon>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
          <div class="row">
            <div *ngFor="let question of tema.preguntas" class="col-sm-12">
              <label style="margin-right: 30px"> {{question.enunciado}}</label>
              <mat-form-field style="margin-right: 30px">
                <mat-label >Se tiene</mat-label>
                <mat-select [(ngModel)]="question.respuesta1" >
                  <mat-option *ngFor="let opt of opts" [value]="opt.key">{{opt.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="margin-right: 30px">
                <mat-label >¿Esta vigente?</mat-label>
                <mat-select [(ngModel)]="question.respuesta2" >
                  <mat-option *ngFor="let vig of vigencias" [value]="vig.key">{{vig.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Situación</mat-label>
                <mat-select [(ngModel)]="question.respuesta3" >
                  <mat-option *ngFor="let des of desarrollo" [value]="des.key">{{des.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>



        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-grid-tile>
  </mat-grid-list>













