
<mat-toolbar color="#000000">
          <span *ngIf="!mobile">
            <div class="logo-nav">
            <img src="../../../assets/img/logo.png" alt="">
              </div>
          </span>
  <span *ngIf="mobile">

            <div class="logo-nav-mobile">
              <a (click)="snav.toggle()"><mat-icon >menu</mat-icon></a>
              <img src="../../../assets/img/logo.png" alt="">
            </div>
          </span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="!mobile" [fixedInViewport]="true" [fixedTopGap]="62" [fixedBottomGap]="60"  #snav>

    <mat-nav-list>
      <div class="avatar">
        <img src="../../../assets/img/avatar.png" alt="">
      </div>
      <mat-list>
        <mat-list-item *ngFor="let module of modules" (click)="goModule(module.id_submodulo)">
          {{module.descripcion}}
        </mat-list-item>
        <!--<mat-list-item (click)="goModule(1);"> Alta de proyecto </mat-list-item>
        <mat-list-item (click)="goModule(2);"> Bandeja de proyectos </mat-list-item>
        <mat-list-item (click)="goModule(3);"> Ver Proyecto </mat-list-item>
        <mat-list-item (click)="goModule(4);"> Carga de HeadCount </mat-list-item>-->
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row">

      <div class="col-sm-12 stepper-forms" >
        <app-steppers *ngIf="selectModule == 1"></app-steppers>
        <app-bandeja  (responseChildren)="recibirRespuestChildren($event)" *ngIf="selectModule == 2"></app-bandeja>
        <app-bandeja-detalle  *ngIf="selectModule == 3"></app-bandeja-detalle>
        <app-head-count *ngIf="selectModule == 4"></app-head-count>
      </div>

    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
