
<mat-toolbar style="background:  black" >
  <a *ngIf="mobile" style=" color:white" (click)="snav.toggle()"><mat-icon >menu</mat-icon></a>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button (click)="cerraSesion()"><mat-icon >people_outline</mat-icon>Cerrar sesión</button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="!mobile" [fixedInViewport]="false" [fixedTopGap]="62" [fixedBottomGap]="60"  #snav>

    <mat-nav-list>
           <span *ngIf="!mobile">
            <div class="logo-nav">

            </div>
          </span>
          <span *ngIf="mobile">
            <div class="logo-nav-mobile">

            </div>
          </span>
      <div class="avatar">

      </div>

      <mat-list>
        <mat-list-item>
          <p style="margin-left: 40px">{{ 'Jose Lopez' }}</p>
        </mat-list-item>
        <mat-list-item *ngFor="let module of modules" (click)="goModule(module.id_submodulo)">
          <p>{{module.descripcion}}</p>
        </mat-list-item>
        <!--<mat-list-item (click)="goModule(1);"> Alta de proyecto </mat-list-item>
        <mat-list-item (click)="goModule(2);"> Bandeja de proyectos </mat-list-item>
        <mat-list-item (click)="goModule(3);"> Ver Proyecto </mat-list-item>
        <mat-list-item (click)="goModule(4);"> Carga de HeadCount </mat-list-item>-->
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row">

      <div style="margin-left: 20px;margin-top: 50px"  class="col-sm-12 stepper-forms" >
        <app-steppers (responseChildren)="recibirRespuestChildren($event)"   *ngIf="selectModule == 2"></app-steppers>
        <app-bandeja  (responseChildren)="recibirRespuestChildren($event)" *ngIf="selectModule == 1"></app-bandeja>
        <app-bandeja-detalle  *ngIf="selectModule == 3"></app-bandeja-detalle>
        <app-head-count (responseHead)="recibirRespuestChildren($event)" *ngIf="selectModule == 6"></app-head-count>
        <app-data-period (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 4"></app-data-period>
        <app-organigrama (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 7"> </app-organigrama>
        <app-asignar-consultor *ngIf="selectModule == 5"></app-asignar-consultor>
        <app-cuestionario-select (response)="recibirRespuestChildren($event)" *ngIf="selectModule == 8" ></app-cuestionario-select>
        <app-estadisticas *ngIf="selectModule == 9"></app-estadisticas>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
