/* optimum.css */
body{
	padding-bottom: 50px;
}
.navbar.navbar-default.navbar-fixed-top{
	background:url(../img/MENU.png);
	color:#fff;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.navbar-default .navbar-brand:hover{
	color:#fff;
}
.navbar-top-links li a {
    color: #fff;
}
.navbar-top-links li a:hover {
    background-color: #29aae1;
}
.dropdown-menu.dropdown-messages a,
.dropdown-menu.dropdown-alerts a,
.dropdown-menu.dropdown-user a{
	color: #333;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #29aae1;
    border-color: #29aae1;
}
#sidebar-wrapper{
	background: #fff;
}
.menu-lateral ul{
	margin-top:50px;
}
.menu-lateral ul li a,
.menu-lateral ul li a:visited{
	color: #333;
}
.menu-lateral ul li a:hover,
.menu-lateral ul li a.active{
	background-color: #29aae1;
	color: #fff;
}
.footer{
	border-top: #0071bb 1px solid;
	background-color: #f1f1f1;
	height:40px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10000;
	margin:0;
}
.footer img{
	height:20px;
	width: auto;
	margin-top: 10px;
}
.footer span {
    margin: 15px;
    padding-top: 10px;
    vertical-align: bottom;
}
.full-bg{
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('../img/login_bg_public.jpeg');
	background-size: cover;
}
.login-panel.panel.panel-default{
	text-align: center;
}
.buscar-menu{
	width: 300px;
}
.buscar-menu div{
	margin-bottom: 0;
	margin-top: 6px;
}
.img-inicio{
	position: absolute;
	top:50px;
	margin: 0;
	padding:0;
	height: 50%;
	width: 100%;
	background-image: url('../img/login_bg.jpeg');
	background-size: cover;
}
.img-inicio h1,
.img-inicio h2,
.img-inicio h3{
	color: #fff;
}
.img-inicio h1{
	margin-top: 200px;
}

.img-inicio h3{
	
}

.btn-inicio{
	width: 250px;
}
.apps-inicio {
    position: absolute;
    top: 480px;
    margin: 0;
    padding: 0;
    height: 30%;
    width: 100%;
}
.apps-icono{
	width: 30px;
    vertical-align: middle;
    display: block;
    text-align: center;
    margin: auto;
	margin-top: 10px;
}
.apps-inicio a{
	margin-top: 25px;
}

.acciones {
	background:#29aae1;
    color:#FFF;
    align: center;
}
.acciones li{display:inline-block;
    list-style: none; position:relative;
}

.acciones img { margin: 8px;
    right: 10px;
    position: relative;}
.btnApps {
	width: 100%; height:100%;
}