

<mat-toolbar style="background:  black" >
  <a *ngIf="mobile" style=" color:white" (click)="snav.toggle()"><mat-icon >menu</mat-icon></a>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button style="margin-right: 20px;" (click)="IrInicio()"><mat-icon >home</mat-icon>Inicio</button>
  <button mat-raised-button (click)="cerrarSesion()"><mat-icon >people_outline</mat-icon>Cerrar sesión</button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="!mobile" [fixedInViewport]="false" [fixedTopGap]="62" [fixedBottomGap]="60"  #snav>

    <mat-nav-list>
           <span *ngIf="!mobile">
        <div class="logo-nav">

        </div>
      </span>
      <span *ngIf="mobile">
        <div class="logo-nav-mobile">


        </div>
      </span>
      <div>
        <a (click)="goAvatarEditing()"><img class="avatar" src="{{avatar.url}}"></a>
      </div>


      <mat-list style="max-width: 200px;">
        <mat-list-item>
          <p>{{ user.fullName }}</p>
        </mat-list-item>
        <mat-list-item *ngFor="let module of modules"  [ngClass]="{'c-active': selectedItem == module.id_submodulo}"  (click)="goModule(module.id_submodulo)">
          <p>{{module.descripcion}}</p>
        </mat-list-item>

      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="">

      <div style="padding: 10px 30px 0 30px"  class="col-sm-12 stepper-forms" >
        <div *ngIf="selectModule == 1">
          <h3>Bandeja de proyectos</h3>
          <app-bandeja-evd (responseChildren)="recibirRespuestChildren($event)"></app-bandeja-evd>
        </div>
        <div *ngIf="selectModule == 2">
          <h3>Alta de proyectos</h3>
          <app-stepper-evd (responseChildren)="recibirRespuestChildren($event)"></app-stepper-evd>
        </div>
        <div *ngIf="selectModule == 3 ">

          <app-data-period-evd (responseChildren)="recibirRespuestChildren($event)"></app-data-period-evd>
        </div>

        <div *ngIf="selectModule == 4 ">

          <app-asignar-consultor-evd (responseChildren)="recibirRespuestChildren($event)"></app-asignar-consultor-evd>
        </div>
        <div *ngIf="selectModule == 6">
          <h3>Head Count</h3>
          <app-head-count-evd (responseChildren)="recibirRespuestChildren($event)"></app-head-count-evd>
        </div>
        <div *ngIf="selectModule == 7">
          <h3>Organigrama</h3>
          <app-organigrama-evd (responseChildren)="recibirRespuestChildren($event)"></app-organigrama-evd>
        </div>
        <div *ngIf="selectModule == 5">
          <h3>Configurar Cuestionarios</h3>
          <app-configurador-cuestionario (response)="recibirRespuestChildren($event)"></app-configurador-cuestionario>
        </div>
        <div *ngIf="selectModule == 8">
          <h3>Enviar Cuestionarios</h3>
          <app-cuestionario-evd (responseChildren)="recibirRespuestChildren($event)"></app-cuestionario-evd>
          <!--<app-encuesta-evd (responseChildren)="recibirRespuestChildren($event)"></app-encuesta-evd>-->

        </div>
        <div *ngIf="selectModule == 10">

          <app-bandeja-detalle-evd (responseChildren)="recibirRespuestChildren($event)"></app-bandeja-detalle-evd>
          <!--<app-encuesta-evd (responseChildren)="recibirRespuestChildren($event)"></app-encuesta-evd>-->

        </div>
        <div *ngIf="selectModule == 11">

          <app-generador-reportes ></app-generador-reportes>
          <!--<app-encuesta-evd (responseChildren)="recibirRespuestChildren($event)"></app-encuesta-evd>-->

        </div>

      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
