<mat-toolbar style="background:  black ">
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button style="margin-right: 20px;" (click)="IrInicio()"><mat-icon >home</mat-icon>Inicio</button>
  <button mat-raised-button (click)="cerraSesion()">
    <mat-icon>people_outline</mat-icon>Cerrar sesión
  </button>

</mat-toolbar>
<div class="row col-sm-12" style="margin-top: 20px">
  <mat-horizontal-stepper  class="col-sm.10 offset-1" [linear]="true" labelPosition="bottom"  #stepper>
    <mat-step [stepControl]="clienteForm" style="margin-top: 100px">
      <form [formGroup]="clienteForm">
        <ng-template matStepLabel>Datos cliente</ng-template>
        <div style="margin-top: 50px" class=" row">
          <mat-form-field class="col-sm-12" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput  formControlName="nombreCliente" required>
          </mat-form-field>
          <mat-form-field class="col-sm-12" appearance="outline">
            <mat-label>RFC</mat-label>
            <input matInput  formControlName="rfcCliente" required>
          </mat-form-field>
          <mat-form-field class="col-sm-12" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput  formControlName="correoCliente" required>
          </mat-form-field>
          <mat-form-field class="col-sm-12" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput type="number"  formControlName="telefonoCliente" required>
          </mat-form-field>
          <div class="col-sm-4 offset-5">
            <button color="accent" mat-raised-button [disabled]="!clienteForm.valid" (click)="saveCliente()" matStepperNext>Guardar</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="usuarios.length" style="margin-top: 100px">
        <ng-template matStepLabel> Usuarios</ng-template>
        <div class=" ">
            <button style="margin-top: 20px; margin-left: 100px" (click)="ModalUsuario()" mat-raised-button  color="accent">Agregar usuario <mat-icon>people</mat-icon></button>
        </div>
        <div style="margin-top: 40px" >
          <h2>Usuarios</h2>
            <mat-list>
              <mat-list-item *ngFor="let user of usuarios">
                <p>{{user.fullName}} </p> <p style="margin-left: 30px" class="text-muted">{{showRol(user.rol)}}</p>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>

        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Modulos</ng-template>
      <div>
        <mat-selection-list>
          <mat-list-option *ngFor="let mod of modules" (click)="addModule(mod)" [selected]="mod.checkModulo" [value]="mod.checkModulo">
              {{mod.nombre}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div  style="margin-top: 20px" class="offset-5" >
        <button mat-raised-button style="margin-left: 50px" color="accent" (click)="saveModules()">Agregar modulos</button>
      </div>

    </mat-step>

  </mat-horizontal-stepper>
</div>



