  <h3 align="center">Ver preguntas</h3>
  <br>
<mat-accordion style="margin-top: 5px">


  <mat-expansion-panel *ngFor="let tema of temas ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>book</mat-icon> {{tema.nombre}}
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list role="list" >
          <mat-list-item role="listitem" *ngFor="let question of tema.preguntas">{{question.enunciado}}</mat-list-item>

        </mat-list>

      </mat-panel-description>



  </mat-expansion-panel>


</mat-accordion>


