<mat-toolbar style="background:  black">
  <a *ngIf="mobile" style=" color:white" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </a>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button style="margin-right: 20px;" [disabled]="!showButtonHome" (click)="IrInicio()"><mat-icon >home</mat-icon>Inicio</button>
  <button mat-raised-button (click)="cerraSesion()">
    <mat-icon>people_outline</mat-icon>Cerrar sesión
  </button>

</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="!mobile" [fixedInViewport]="false" [fixedTopGap]="62" [fixedBottomGap]="60" #snav>
    <mat-nav-list>
      <span *ngIf="!mobile">
        <div class="logo-nav">

        </div>
      </span>
      <span *ngIf="mobile">
        <div class="logo-nav-mobile">


        </div>
      </span>
      <div>
        <a (click)="goAvatarEditing()"><img class="avatar" src="{{avatar.url}}"></a>
      </div>
      <mat-list style="max-width: 200px;">
        <mat-list-item>
          <p>{{ user['fullName'] }}</p>
        </mat-list-item>
        <mat-list-item *ngFor="let module of modules" [ngClass]="{'c-active': selectedItem == module.id_submodulo}" (click)="goModule(module.id_submodulo)">
          <p>{{module.descripcion}}</p>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="">
      <div style="padding: 10px 30px 0 30px;" class="col-sm-12 stepper-forms">
        <div *ngIf="selectModule == 1">
          <app-vacante-table></app-vacante-table>
        </div>
        <div *ngIf="selectModule == 2">
          <app-informacion-form (response)="recibirRespuestChildren($event)"></app-informacion-form>
        </div>
        <div *ngIf="selectModule == 3">
          <app-estadisticas-vacantes></app-estadisticas-vacantes>
        </div>
        <div *ngIf="selectModule == 4">
          <app-candidato-form (response)="recibirRespuestChildren($event)"></app-candidato-form>
        </div>
        <div *ngIf="selectModule == 5">
          <app-generador-reportes></app-generador-reportes>
        </div>
        <div *ngIf="selectModule == 6">
          <app-estadisticas-vacantes></app-estadisticas-vacantes>
        </div>
        <div *ngIf="selectModule == 7">
          <app-candidato-table></app-candidato-table>
        </div>
        <div *ngIf="selectModule == 8">
          <app-solicitante-bandeja></app-solicitante-bandeja>
        </div>
        <div *ngIf="selectModule == 9">
          <app-documentos-candidato></app-documentos-candidato>
        </div>


      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
